button {
    float:right;
}
#valueBudget{
    border-radius: 5px;
}
html {
    height: 100%;
}
body {
    height : 100%;
}
#container {
    height : 100%;
    padding-top : 2%;
}
#nameValueBudget {
    height: 5%;
    border : 1px solid lightgray;
    border-radius: 5px;
    padding : 1%;
    margin-bottom : 1%;
}
#date {
    height: 5%;
    border : 1px solid lightgray;
    border-radius: 5px;
}
#titeAdmin {
    padding : 3%;
}
#list {
    margin-bottom :3%;
}
#titeMvt {
    margin-bottom : 1%;
}
#user {
    border : 1px solid lightgray;
    border-radius: 5px;
    height: 100%;
    padding : 2%;
}
#movement {
    border : 1px solid lightgray;
    border-radius: 5px;
    height: 100%;
    padding:2%;
}
#content{
    height : 50%;
    margin-top : 2%;
    margin-bottom :2%;
    margin-left :2%;
}
#actionAdd{
    margin-bottom :1%;
    margin-left:2%;
}
