body {
    width: 100%;
    height: 100%;
    background-color: rgb(253, 253, 253);
    padding: 1px;
    margin: 0;
    padding-bottom: 0;
    padding-top : 0;
  }

.container{
    display:flex;
    flex-direction: row;
    width :100%;
    height : 100%;
    padding-left: 0px;
    padding-right: 0px;
}
.containerLog{
    display: flex;
    flex-direction: column;
    width: 32%;
    height: 100%;
    background-image: url("./backgroundBudgetPage.png");
    background-repeat: no-repeat;
}

.picture {
    width: 68%;
}

.backgroundPic{
    width: 100%;
    min-height: 100vh;
    height: 98%;
    background-image:linear-gradient(rgba(170, 170, 170, 0.39), rgba(170, 170, 170, 0.39)), url("./happy-family-sharing-computer.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.connexion {
    width: 350px;
    margin: 120px auto;
    padding: 25px 20px;
    margin-top :85px;
    background:rgb(253, 253, 253);
    border : solid 1px lightgray;
    box-shadow: 2px 2px 4px rgb(80, 80, 80);
    border-radius: 5px;
    color: rgb(245, 161, 4);
}

.connexion h2 {
    margin-top: 0px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.connexion a {
    color: white;
}

.connexion a:hover {
    text-decoration: none;
    color: #4f3625;
}

.connexion .checkbox-inline {
    padding-top: 7px;
}

.btn-primary {
    background-color: #ff9347 !important;
    border-color: #ff9347 !important;
}

.register-form {
    background-color:rgb(253, 253, 253) !important ;
    width: 350px;
    margin: 50px auto;
    padding: 25px 20px;
    box-shadow: 2px 2px 4px rgb(80, 80, 80);
    border-radius: 5px;
    color: #fff;
}

.register-form h2 {
    margin-top: 0px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    
}

.btn-success {
    background-color: #ff9347 !important;
    border-color: #ff9347 !important;
}

.btn-secondary {
    background-color: #ff9347 !important;
    border-color: #ff9347 !important;
}

.btn-secondary:hover {
    background-color: #d45800 !important;
}

.btn-secondary:focus {
    background-color: #d45800 !important;
    outline: none !important;
    box-shadow: none;
}

h1 {
    color : rgb(228, 149, 4);
    font-size : 40px;
    padding-top : 3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align : center;
}

h2 {
    color : rgb(228, 149, 4);
    font-size : 24px;
    padding-top : 3%;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.clearfix :hover{
    color : lightgray;
}
.hint-text{
    color:rgb(228, 149, 4);
}

#containerInscription{
    margin-left: 15%;
}
