/* Page d'accueil */

body{
   background-image: url("./backgroundhome.png");
   background-repeat:no-repeat;
   background-position: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size : 18px;
}
#barre {
   margin-bottom: 5%;
   margin-top: 40px;
   background-color: rgba(255, 136, 0, 0.404);
   height: 100px;
   border-radius: 10px;
   color : white;
}
#budgetNow {
   font-size: 36px;
   text-align: center;
   margin-top: 25px;
}

#nB:hover,
#nE:hover,
#nBilan:hover {
	background-color: #ff7716 ;
	color: black;
	box-shadow: 1px 1px 2px rgb(80, 80, 80);
  }

#nB {
   -webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	float: right;
	font-size: 16px;
	background-color:#ff9347 ;
	border : 1px solid #f3b182 ;
   font-size:18px;
   margin-bottom: 5%;
   color:white;
   height: 15%;
   box-shadow: 1px 1px 2px rgb(80, 80, 80);
}
#nBilan{
   -webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	float: right;
	font-size: 16px;
   background-color:#ff9347 ;
   color:white;
	border : 1px solid #f3b182 ;
   font-size:18px;
   margin-bottom: 5%;
   height: 15%;
   margin-top: 3%;
   margin-right: 6%;
   width: 6%;
   box-shadow: 1px 1px 2px rgb(80, 80, 80);

}
#nE {
   -webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	float: right;
	font-size: 16px;
	background-color:#ff9347 ;
	border : 1px solid #f3b182 ;
   font-size:18px;
   font-family: 'Times New Roman', Times, serif;
   margin-bottom: 5%;
   box-shadow: 1px 1px 2px rgb(80, 80, 80);
}
#movementList, #budgetList{
   background-color:rgba(250, 250, 231, 0.384);
}

a{
   color: black;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
	background-color: rgb(245, 245, 245);
}
.container-fluid{
	background-color: rgb(245, 245, 245);
}
.navbar-inverse .navbar-brand {
	color: #f77a22;
}
.navbar-inverse .navbar-nav>.active>a{
	background-color: #f5a66d;
}
.navbar-inverse .navbar-nav>.active>a:hover{
	background-color: #f64556;
}

